CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_HTTPD_WS_SUPPORT=y
# CONFIG_ESP_SLEEP_PSRAM_LEAKAGE_WORKAROUND is not set
# CONFIG_ESP_SLEEP_FLASH_LEAKAGE_WORKAROUND is not set
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
CONFIG_SPIRAM_SPEED_80M=y
# CONFIG_LV_CONF_SKIP is not set
CONFIG_LV_TXT_BREAK_CHARS=" ,.;:-_)]}"
CONFIG_LV_THEME_DEFAULT_DARK=y
# CONFIG_LV_USE_SNAPSHOT is not set
# CONFIG_LV_BUILD_EXAMPLES is not set
